#common
target/
*.iml
.idea/
.project
*~
#core
core/target/
#cli
cli/target/
#gexd
gexd/target/
#ui
ui/target/
ui/node_modules/
ui/npm-debug.log
#client-build
client-build/target/
client-build/resources/linux/programs
client-build/resources/mac/programs
client-build/resources/windows/programs

