<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>io.galacticexchange.gexd</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/var/log/gexd.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/gexderr.log</string>
        <key>Debug</key>
        <true/>
        <key>ProgramArguments</key>
          <array>
                <string>sudo</string>
                <string>-u</string>
                <string>gexuser</string>
                <string>/Library/Application Support/gex/java/Contents/Home/bin/java</string>
                <string>-jar</string>
                <string>/Library/Application Support/gex/gexd.jar</string>
          </array>
  </dict>
</plist>
