<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal" name="GexCli" packages="io.gex">  <!--fatal because sometimes kafka appender crashes and user don't need to see this in console -->
    <Properties>
        <Property name="logFilename">${sys:user.home}/.gex/gex_log.log</Property>
        <Property name="kafkaAddress">{kafka.host.port}</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${logFilename}"
                     filePattern="${logFilename}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Kafka name="Kafka" topic="log_app">
            <GsonLayout/>
            <Property name="bootstrap.servers">${kafkaAddress}</Property>
            <Property name="timeout.ms">3000</Property>
            <Property name="ack">all</Property>
        </Kafka>
        <Async name="AsyncKafka" bufferSize="512" blocking="false" shutdownTimeout="1000">
            <AppenderRef ref="Kafka"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="io.gex" level="trace" additivity="false">
            <AppenderRef ref="AsyncKafka"  level="info"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>
